body{
  width: 960px;
  padding: 0 100px 0 100px;
  background-image: url("../images/mosaic.png")
}

header{
    background-color: #ffffff;
    background-color:  #4aaaa5;
    color: #ffffff; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100px;
    padding: 10px;
    float: left;
    text-align: center;
}

nav{
    padding: 20px;
    background-color: #ffffff;
    height: 40px;
    width: 940px;
    position: fixed;
    margin-bottom: 20px;
    top: 0;
}

.pagenav{
    float: right;
}

a{
    text-decoration: none;

}

#Portfoliolink{
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    padding: 0 4px 0 4px;
}

.AboutMe{
    background-color: #ffffff;
    margin-top: 100px;
    padding: 20px;
    width: 940px;
    
}

h1{
    color: #4aaaa5;
    border-bottom:  3px solid #cccccc;
}

footer{
    background-color: #666666;
    height: 80px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    border-top: 2px solid #4aaaa5;
    
}